*,
*:before,
*:after {
 font-family: 'Quicksand', sans-serif;
}

h1 {
display:flex;
text-align:left;
margin: 30px;
justify-content:center;
align-items:center;
color:white
}

h2 {
display:flex;
margin: 100px;
justify-content:center;
color:white;
height:50px;

}


body {
    margin: 0;
    background:linear-gradient(#134d71, #78a7c6,#f7e4bf);
    height:100vh
    }

/*COLORS*/

light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/